<div class="css-106ak42" style="transform: translate(76.5px, 287px);">
  <div class="layer-content-container" data-objecttype="layer">
    <div class="layer-content css-4s24st">
        <div class="handle-container right single-handle">
            <div class="inner-circle connected"></div>
        </div>
        <div class="layer-content">
          <div class="layer-header">
            <span class="icon material-symbols-outlined">table</span>
            <span class="title">Dataset</span>
          </div>
          <div class="layer-body">
            <div class="property">
                <span class="title">Name</span>
                <span class="value long-text">iris.csv</span>
            </div>
            <div class="property">
                <span class="title">Size</span>
                <span class="value">4.4KB</span>
            </div>
            <button class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeSmall MuiButton-containedSizeSmall MuiButton-colorPrimary MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeSmall MuiButton-containedSizeSmall MuiButton-colorPrimary configure css-o2pq16" tabindex="0" type="button" aria-label="Preview and configure the dataset">
                Configure
                <span class="MuiTouchRipple-root css-w0pj6f"></span>
            </button>
          </div>
        </div>
      </div>
  </div>
</div>